<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title> Interesting Facts</title>
</head>
<link rel="stylesheet" href="C:\Users\praveena\Documents\code\docker-facts-flask\templates\index.css">
<style>
   
</style>
<body>
    <!-- <h1 style="color: burlywood;">Hello</h1> -->
    <h1>25 INTERESTING FACTS ABOUT DOCKER AND COMMAND YOU SHOULD KNOW:</h1>
<p >1.	"Docker is a container management tool.".</p>
<p>2.	Docker is not a hardware virtualization engine.</p>
<p>3.	Docker uses a layered file system.</p>
<p>4.	Docker can save you time.</p>
<p>5.	Docker can save you money.</p>
<p>6.	Docker has a robust ecosystem of existing images.</p>
<p>7.	Docker helps you avoid production bugs.</p>
<p>8.	Docker only works on Linux (for now).</p>
<p>9.	Nearly One Quarter of Companies Have Adopted Docker</p>
<p>10.	Docker Now Runs on More Than 20% of Hosts</p>
<p>11.	Docker Usage Rates Increase with Infrastructure Size</p>
<p>12.	Half of Docker Environments Are Orchestrated</p>
<p>13.	The Average Size of a Docker Deployment Has Grown 75% in One Year</p>
<p>14.	The Most Widely Used Images Are NGINX, Redis, and Postgres</p>
<p>15.	The Median Docker Organization Runs Eight Containers per Host</p>
<p>16.  inspect — See lots of info about an image, including the layers.</p>
<p>17.	docker system prune — Delete all unused containers, unused networks, and dangling images.</p>
<p>18.	docker version — List info about your Docker Client and Server versions.</p>
<p>19.	stop — Gracefully stop running container.</p>
<p>20.	history — See intermediate image info.</p>
<p>21.	docker login — Log in to a Docker registry.</p>
<p>22.	docker ps -a – lists both running containers and ones that have stopped</p>
<p>23.	docker run -td [IMAGE] – starts a container and keeps it running.</p>
<p>24.	docker build -t – builds an image from a Dockerfile in the current directory and tags the image</p>
<p>25.	docker run -it-rm [IMAGE] – creates, starts, and runs a command inside the container. Once it executes the command, the container is removed.</p>    
    
</body>
</html>